.all {
    width: 80%;
    margin: auto;
    box-shadow: 0 5px 8px 0 rgb(105, 83, 69);

}

header {
    width: 100%;
    background-color: PALEGOLDENROD;
    display: flex;
}

img {
    width: 311px;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.titel {
    font-family: Macondo;
    font-size: 70px;
    margin: auto;
    color: SADDLEBROWN;
    font-family: Rajdhani;
    font-weight: bold;
}

.left {
    color: tomato;
}

.bottom {
    font-size: 30px;
    color: tomato;
    text-align: center;
}

section {
    display: flex;
}

.info {
    width: 439px;
    background-color: PALEGOLDENROD;
}

ul {
    margin-top: 25px;
}

li {
    list-style: none;
    margin: 10px;
    font-size: 18px;
    text-align: left;
    color: SADDLEBROWN;
    font-family: PT Sans Narrow;
    font-weight: bold;
}

.about-me {
    margin-top: 30px;
    padding: 18px;
    font-family: PT Sans Narrow;
    color: SADDLEBROWN;
    font-size: 21px;
}

.strong {
    color: tomato;
}

.social {
    text-align: center;
    padding: 18px;
    font-family: PT Sans Narrow;
    font-size: 22px;
    margin-top: -10px;
}

.h2-social {
    color: tomato;
    font-size: 22;
    font-family: PT Sans Narrow;
    margin-left: -10px;
    margin-bottom: 7px;
}

.detiles {
    background-color: SNOW;
    width: 100%;
}

h2 {
    color: tomato;
    font-size: 22;
    font-family: PT Sans Narrow;
    margin-left: 50px;
    margin-bottom: -4px;
}

.skiles-list {
    display: flex;
    margin-left: 40px;
}

.p {
    margin-left: 50px;
    font-size: 20;
    font-family: PT Sans Narrow;
    color: SADDLEBROWN;
    padding-right: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.dropbtn {
    color: tomato;
    font-size: 17px;
    font-weight: bold;
    border: none;
    background-color: inherit;
    padding: 14px;
    cursor: pointer;
    border-radius: 12px;
}

.dropbtn:hover {
    background-color: tomato;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-top: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(233, 86, 60);
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: tomato;
}

a{
    text-decoration: none;
}
